@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
 
:root {
    --bg-gray: #fff;
    --text-gray: #4a4a4a
    --color-primary: #4D41C0;
    --white: #fff;
    --text-light-gray:#AAA
}

*{
      box-sizing: border-box;
      font-family: 'open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

html, body {
           background-color: #fff;
}
    header{

    background-color:#4D41C0;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {     
    font-size: 24px;
    font-weight: 700;
}
nav a{
    font-size: 14px;
    font-weight: 400;
}
.dsmovie-card-des-bottom p {
    font-size: 12px;
    font-weight: 450;
    color: var(--text-light-gray);
    margin-bottom: 8px;

}
a, a:hover {
    text-decoration: none;
     color: unset;
}

.dsmovie-contact-container {
    display: flex;
    align-items: center;
}
.dsmovie-contact-container img {
    margin: 5px;
}

#dsmovie-card-list {
    padding: 40px 10px;

}


.dsmovie-card {
    width: 100%;
}
.dsmovie-card img {
       width: 100%;
       border-radius: 8px 8px 0 0;
}
.dsmovie-card-des {
    background-color: var(--white);
    padding: 10px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dsmovie-card-des h3 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 25px;
}

.dsmovie-card-des-bottom h4 {
    font-size: 14px;
    font-weight:700;

}
.dsmovie-card-des-bottom img{
    width: 22px;

}
.dsmovie-card-des-bottom{
  display: flex;
  flex-direction: column;
  align-items: center;


}
.dsmovie-btn, .dsmovie-btn:hover {
    width: 180px;
    height: 40px;
    background-color: #4D41C0;
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 0;
}
.dsmovie-form-container {

    padding: 40px 0;
    max-width: 480px;
}

.dsmovie-form-des {
 background-color:white;
 padding: 20px;
 display: flex;
 flex-direction: column;
 align-items: center;
border-radius: 0 0 8px 8px;
}


.dsmovie-form { 
    width: 100%;

}
.dsmovie-form-des h3 {

    font-size: 15px;
    font-weight: 550;
    margin-bottom: 20px;
}



.dsmovie-form-group {
    margin-bottom: 20px;
}
.dsmovie-form-group label {

    font-size: 12px;
    color:var(--text-light-gray);
}


.dsmovie-form-bnt-container {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: space-between;
}